@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgba(128, 128, 128, 0.555);
    width: 200px;
    height: 150vh;
    font-family: 'Hurricane', cursive;
    font-family: 'Source Code Pro', monospace;
}

.sidebar nav{
    padding: 16px;
}

.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}

.sidebar nav a{
    text-decoration: none;
    color:aliceblue;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}

.infoContainer{
    background-color:rgb(0, 174, 255);
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display:flex;
    justify-content: space-between;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
        font-size: 35px;
}

.name{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Hurricane', cursive;
    font-family: 'Source Code Pro', monospace;
}

.about{
    font-style: italic;
    font-size: 20px;
    font-family: 'Hurricane', cursive;
    font-family: 'Source Code Pro', monospace;
}

.moreabout{
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    margin-top: 20px;
}
.btn{
    margin-top: 32px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: darkgrey;
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: darkgrey;
}

.btn a{
    text-decoration: none;
    color:aliceblue;
}

.btn-sn{
    font-size: 15px;
    padding: 10px 19px;
    margin: 12px 0;
}

.devPic img{
        height: 58vh;
}

.contactform{
    padding:0 35px;
    padding-top: 85px;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

.contactform h1{
    font-family: 'Hurricane', cursive;
    font-size: 62px;
    text-align: center;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin:6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 13px;
    color:midnightblue;
    margin: 0 10px;
}

#form-check{
    flex-direction: row;
    font-size: 15px;
}

#isclient{
    width: 45px;
    height: 17px;
    margin: 3px 0;
}

/* #btnn{
    width: 120px;
    height: 40px;
    color: white;
    background-color: darkgrey;
    border-radius: 15px;
}

#btnn:hover{
    background-color: white;
    color: darkgrey;
} */